/* Общие стили */
body {
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #ffafcc, #c9c9ff, #ffcbaf, #f6d1b0);
  background-size: 400% 400%;
  animation: gradientBackground 30s ease infinite; /* Увеличена длительность анимации до 30 секунд */
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background: #e50914;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px 0;
}

button:hover {
  background: #b00610;
}

.error {
  color: red;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.movie-poster {
  width: 250px;
  height: 375px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.info {
  text-align: left;
  max-width: 700px;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

p {
  font-size: 16px;
}

#movieOverview {
  font-size: 14px;
  margin-top: 10px;
}

.read-more {
  margin-top: 10px;
  color: #e50914;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}
